In [ ]:
"""
Variable :
A variable is a name that refers to a value stored in the computer's memory.
Variables are used to hold data that can be manipulated and referenced throughout a program.

Naming Rules:

Variable names must start with a letter (a-z, A-Z) or an underscore (_).
The rest of the name can include letters, digits (0-9), and underscores.
Variable names are case-sensitive (myVar and myvar are different).

nameQy= "anjana"
print(name)

int=10
add= "anjana"
123= "asdf"
@ds= "qwr"

as = "qwer"
as_12 = "qwrtg"
as1 = "qweer"
_as = "dsa"
as df ="ert"
Common Variable Types:

Integers: x = 10
Floats: y = 3.14
double : z =3.14556789912345678
Strings:
name = "Alice" , "Bob", "Charlie",1,23,4.5,
name2 = 'Bob',
name3 = "alice123"
name4 = "12"

a = "asdd" # string
a= 123 # integer
a = 123.45 # float
a = "as","sa" #not valid

a =[1 ,2,3,4,5,]

type(name)
type(name2)
type(name3)
type(name4)

Lists: my_list = [1, 2, 3, "aj" ,"anj12" ,3.14] = heterogenous elements - mutable
Tuples: my_tuple = (4, 5, 6,"anj",3.14) = heterogenous elements -immutable

print("anjana")
"""

In [16]:
x=22
y = 7

#print(x/y)
print(round((x/y) ,3))

a ="12"
print(type(a))
b=int(a)
c=10
print(b+c)
print(type(b))

3.143
<class 'str'>
22
<class 'int'>

In [ ]:
# Assigning values to variables
x = 5
y = "Hello, World!"



# Printing variable values
print(x)  # Output: 5
print(y)  # Output: Hello, World!

# Reassigning variables
x = 3.14
y = 42

print(x)  # Output: 3.14
print(y)  # Output: 42

x= "asd"
y= "123"
A="ASDDF"
print(x)
print(y)
# Printing variable types
print(type(x))  # Output: <class 'float'>
print(type(y))  # Output: <class 'int'>

In [20]:
a= "qwer"

a= "123"

a= "qsvv"

a= 12

b= 12

print(a)

12

In [ ]:
name = input ("enter your name:")
print(name)
print("hi !", name)



age = input("enter your age:")
print(age)
print("your age is", age)

enter your name:john
john
hi ! john
enter your age:15
15
your age is 15

In [22]:
name = input("user enter your name :")

print("hi , how are you ? mr/ms/mrs .", name)

user enter your name :john
hi , how are you ? mr/ms/mrs . john

In [ ]:
a = "12"
print(type(a))

b = "wqwer"
print(type(b)) #o/p str

a = int(a)
print(type(a))

b = 123
print(type(b))

b = str(b)
print(type(b))

b = float(b)
print(type(b))

b = bool(b)
print(type(b))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
list1 = [1,23,45,6] #list is used to store sequence of value/element , data type : int, float, str,alnum . # mutable 
list2 = [1,2,3,"abc","as",3.14] # heterogenous element -values/element of different datatype . #homogenous variable = same datatype

In [24]:
tuple1 = (1,23,4,5) #immutable
tuple2 =(1,2,3,"abd","as")

print("tuple1:",tuple1)

#tuple(list1)

tuple1: (1, 23, 4, 5)

In [26]:
#list1=[1,2,3]
gc = getcontext()
getcontext().prec = 73
numb1 = float(3.14234)
print(numb1)

NameError: name 'getcontext' is not defined

In [ ]:
x = 10
y = 5

# Arithmetic Operators
print(x + y)  # Output: 15
print(x - y)  # Output: 5
print(x%y)
print(x//y)

# Comparison Operators
print(x > y)
 # Output: True
print(x<y)
print(x == y) # Output: False
print(x!=y)
print(x<=y)
print(x>=y)

# Logical Operators
print(x > 0 and y > 0) # Output: True
print(x > 0 or y < 0)  # Output: True
print(not(x > 0))
"""and = true and true o/p true
or = true or false o/p true
not = not true o/p false
"""
# Assignment Operators
x += y  # x = x + y
x=5
x = x+5 #o/p =x =5+5 =10 . x=10 =10+5
x+=5
x-=5
x*=5
x/=5
x%=5
x//=5
x**=5
print(x) # Output: 15

# Membership Operators :in
list = [1, 2, 3, 4, 5]
print(x in list)  # Output: False
print(3 in list)  # Output: True

list1= ["a","b",1,2,3]
print("a" in list1)

15
5
0
2
True
False
False
True
False
True
True
True
False
0.0
False
True
True

In [ ]:
list2= ["a","a","ba","c",1,2,3,1]
print("a" in list2) # checking value in variable
print(2.3 in list2)
print(list2.count("a"))

True
False
2

In [ ]:
"""
Conditional statements in Python allow you to execute different blocks of code based on certain conditions.
The primary conditional statements in Python are if, elif, and else."""

In [ ]:
"""
if Statement:

    The if statement is used to execute a block of code only if a specified condition is True.

The if statement evaluates a condition (an expression that returns a boolean value).
If the condition is True, the code block under the if statement is executed."""

In [ ]:
a = 10
if a > 5:  #condition - true
  print("a is greater than 5")

a=7
b=2
if a<4 : # False
  print((a+b))

a=7
b=2
if a<=b : # False , if this if statement turns false then else statement will be executed
  print((a-b))
elif a<b : #else -if ,false
  print((a+b))
elif a>b : #true
  print((a+b))
else :
  print("a is greater than b")

a is greater than 5
5

In [ ]:
"""
if else statement:
    if condition:
        do something
    else:
        do something else

the if else statement evaluates a condition (an expression that returns a boolean value).
If the condition is True, the code block under the if statement is executed.
If the condition is False, the code block under the else statement is executed."""

In [ ]:
a= 10
if a > 5:
    print("a is greater than 5")
else:
    print("a is less than 5")

In [ ]:
"""
elif statement syntax
    if condition:
        do something
    elif condition:
        do something else
    else:
        do something else

The elif statement is short for else if.
Elif if statement evaluates a condition (an expression that returns a boolean value).

In [ ]:
a= 10
if a > 5:
    print("a is greater than 5")
elif a == 5:
    print("a is equal to 5")
else:
    print("a is less than 5")

In [ ]:

# Nested if statements:
"""
if condition:
      if condition:
          do something
      else:
          do something else
else:
    do something else
"""

"""
nested if statements are used to check multiple conditions in a single if statement.

In [ ]:
a = 10
b = 5

if a > 5:
    if b < 3:
        print("a is greater than 5 and b is greater than 3")

In [ ]:
a= 10
b= 20

if a < 5:
    if b < 3:
        print("a is greater than 5 and b is greater than 3")
    else:
        print("a is greater than 5 and b is not greater than 3")
else:
    print("a is  greater than 5")

a is  greater than 5

In [ ]:
"""
looping statements in Python allow you to execute a block of code repeatedly.
There are two types of loops in Python: while loops and for loops.
"""

"""
The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

The for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
"""
# Print i as long as i is less than 6:
i = 1
while i <= 6: # while condition # True
  print(i)
  i += 1  # i = i+1 <6

a =2
while a>5:
  print(a)
  a-=1

i = 1
for asd in range(1, 6):
  print(asd)

1
2
3
4
5
6
1
2
3
4
5

In [1]:
x= 10
y=12
#arithemetic operators 
print(x+y) #Output: 22
print(x-y) #Output: 10
print(x*y)
print(x%y)
print(x//y)

22
-2
120
10
0

In [11]:
#comparison Operators
a=10
b=10
print(a>b)
#Output:true
print(a<b)
print(a==b)
print(a!=b)
print(a<=a)
print(a>=b)

False
False
True
False
True
True

In [2]:
#Logical operator 
as1= 10
as2 = 5
print(as1>11 and as2<=5)

False

In [21]:
as1= 10
as2 = 2
print(as1>1 and as2<=5)

True

In [23]:
as1= -10
as2 = 2
print(as1>1 and as2<=5)

False

In [39]:
as1= 0
as2 = 5
print(as1>5 and as2<=0)

False

In [42]:
#Logical Operator 
as1= 10
as2 = 5 #atleast one condition should be satisfied
print(as1>11 or as2>5)  #false false  o/p false
print(as1>11 or as2 <=5) #false true o/p true
print(as1 <=10 or as2 >5) #true false o/p true
print(as1 ==10 or as2 ==5) #true true # o/p :true

False
True
True
True

In [46]:
#OR operator 
A=10
B=12 #atleast one conditon should be satisfied
print(A>11 or B>5)
print(A>11 or B>=13)
print(A<=11 or B>5)
print(A==11 or B==5)

True
False
True
False

In [52]:
a=1
b=2.6
print("a",a)
print("b",b)
a=b 
print(a)
a=1.1
b=1
print(a==b)

a 1
b 2.6
2.6
False

In [58]:
#Output: true x=10, Y=5, cond1=5(true),cond2=s(true)0/p=true
print(x < y or y <00)

True

In [62]:
#x=10
print(not(x > 0))  #satistfied = true , not =false
print(not(x<0)) # cond =false o/p true

a=1
a+=2 #a=a+2
print(a) #3
#prev value of a ? 1
#cuurent value of a? 3

False
True
3

In [64]:
a=1
a+=2 #a=a+2
print(a) #3
#prev value of a ? 1
#cuurent value of a? 3
a-=2
print(a)
a*=2
print(a)
a/=2
print(a)
a%=2
print(a)
a//=2
print(a)

3
1
2
1.0
1.0
0.0

In [68]:
#Assignment Operators
a=2
a+=2 #a=a+2
print(a) #3
#previous  value of a ? 1
#cuurent value of a? 3
b=2
b-=2 # b= b-2
print(b)
c= 3
c*=2 #c=c*2
print(c)

d=4
d/=2 #d= d/2
print(d)

e=5
e%=2 #e =e%2
print(e)

f= 6
f//=2 #f= f//2
print(f)

4
0
6
2.0
1
3

In [7]:
# Membership Operators :in
list1 =[1,2,3,4]
list2=["as1","sa"]
list3 = [1, 2, 3, 4, 5,"as","sa",3.1456, True] #heterogenous
print("x" in list1)  # Output: False whether x is there present in list1
print("as1" in list2)
print(3.1456 in list3)  # Output: True

False
True
True

In [8]:
list = [1, 2, 3-4, 4, 5]
print(-1 in list)

True

In [19]:
b=12
print(b)

#if class
a=13
if a>10:#condition = not satisfied, False if the condition satisfies(true ) then execute the block of code/statement
    print("the value of a is greater than the given value", a)
    print(a+1)

12
the value of a is greater than the given value 13
14

In [20]:
q=10
w=12
if q>5 and w>5:#true , true
    print("q and w is greater than 5")

q and w is greater than 5

In [25]:
e =10
r= 12
if e>5 or r<5: #true ,false
    print("e:",e ,"r:",r)


i =15
r= 12
if i<5 or r<5: #true ,false
    print("i:",i ,"r:",r)

e: 10 r: 12

In [28]:
t=12
if not(t<10): #if the condition =false,
    print("t:",t)

t: 12

In [29]:
t = 12
if not(t>10): #cond inside is true, not operator : false
    print("t:",t) 
    
y =13
if not y<10: #cond inside is false, not operator : true
    print("y is grater than the given value",y)

y is grater than the given value 13

In [30]:
a= 1
if a<10: #condition = not satisfied , False . if the condition satisfies(true ) then execute the block of code/statement, comparision
    print("the value of a is less than the given value 10 ", a) #st 1
else :
    print ("a is greater than the given value 10",a)

the value of a is less than the given value 10  1

In [34]:
a= 10
if a==10: #condition = not satisfied , False . if the condition satisfies(true ) then execute the block of code/statement, comparision
    print("the value of a is less than the given value 10 ", a) #st 1
else :
    print ("a is greater than the given value 10",a)

the value of a is less than the given value 10  10

In [35]:
#if elif
a= 11
if a<10 and a<9: #condition = not satisfied , False . if the condition satisfies(true ) then execute the block of code/statement, comparision
    print("the value of a is less than the given value 10 ", a) #st 1
    print(a+2)
elif a ==15 : #condition is false
    print("a is equal to 15") #st2
elif a==11: #condition = true ,else if
    print("a is equal to 11:",a) #st3
    print(a+1)
else :
    print("the above conditions are not met. the value of a is",a)

a is equal to 11: 11
12

In [54]:
x=19
if x==10 and x==19:
    print("the value of x is less than given value 10",x)
    print(x+1)
elif x<15: #condition is false
    print("x is equal to 15")
elif x==19: #condition is false
    print("x is equal to 19:",x)
    print(x+1)
else :
    print("the above condition are not met.the value of x is",x)

x is equal to 19: 19
20

In [ ]:
03/07/2024

In [3]:
grade = "f"
if grade=="o": #false
  print("outstanding")
elif grade == "a": #false
  print("excellent")
elif grade == "b": #false
  print("good")
elif grade == "c": #true
  print("fair")
else :
  print("poor")

poor

In [16]:
mark = 80
if mark>90: #false
  print("excellent")
elif mark>80: #false
  print("good")
elif mark>70: #true
  print("fair")
else :
  print("poor")

fair

In [17]:
student = 90
if student>90: #false 
    print("excellent")
elif student>80: #false
    print("good")
elif student<70: #true
    print("fair")
else:
    print("poor")

good

In [18]:
a=10
b=1
if a>b: #true
    print("a is greater")
else: #false 
    print("a is smaller")

a is greater

In [21]:
#nested if else
mark=91
if mark < 100: # true #if mark >110 :#false
  print("outstanding")
  if mark<90: #false
   print("excellent")
  elif mark>80: #false
   print("good")
  elif mark>70: #true
   print("fair")
  else :
   print("poor")
else:
  print("mark is greater than 100")

outstanding
good

In [23]:
#Loop statement
"""
for apple in fruits:
    print(apple) #o/p apple
for banana in fruits:
    print(banana) #o/p banana
for cherry in fruits:
    print(cherry) #o/p cherry
"""
fruits = ["apple", "banana", "cherry"] #execute the block of code/statement
#print(fruits)
for i  in fruits: # for , fruit = each item in fruits (var)
    print(i)

apple
banana
cherry

In [24]:
#example
for i in range(1,6):
#for i in range(6): 0 -5
  print(i)

1
2
3
4
5

In [25]:
#above the program using inside the program 
"""
range (0-6) 0,1,2,3,4,5
for 0 in range(6):
  print(0)
for 1 in range(6):
  print(1)
for 2 in range(6):
  print(2)
for 3 in range(6):
  print(3)
for 4 in range(6):
  print(4)
for 5 in range(6):
  print(5)
"""

'\nrange (0-6) 0,1,2,3,4,5\nfor 0 in range(6):\n  print(0)\nfor 1 in range(6):\n  print(1)\nfor 2 in range(6):\n  print(2)\nfor 3 in range(6):\n  print(3)\nfor 4 in range(6):\n  print(4)\nfor 5 in range(6):\n  print(5)\n'

In [1]:
marks = 95
if marks >50:
  print("pass")
else :
  print("not pass")

pass

04/07/2024

In [4]:
for i in range(5):  # 0,1,2
  for j in range(7):# 0,1
    print(i, j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
1 0
1 1
1 2
1 3
1 4
1 5
1 6
2 0
2 1
2 2
2 3
2 4
2 5
2 6
3 0
3 1
3 2
3 3
3 4
3 5
3 6
4 0
4 1
4 2
4 3
4 4
4 5
4 6

In [5]:
for i in range(1,6):
  print("hello all")

hello all
hello all
hello all
hello all
hello all

In [6]:
for i in range(1,15):
    if i%2==0: #condition
       print(i)

2
4
6
8
10
12
14

In [7]:
for i in range(1, 11):   # 1,2,3,4,5,6,7,8,9,10 
   if i%2==0: #condition true 
    print(i)

2
4
6
8
10

In [8]:
for i in range(1, 11):   # 1,2,3,4,5,6,7,8,9,10 
   if i%2!=0: #condition true 
    print("odd number:",i)

odd number: 1
odd number: 3
odd number: 5
odd number: 7
odd number: 9

In [9]:
for i in range(1, 11):   # 1,2,3,4,5,6,7,8,9,10 
   if i%2==0: #condition true 
    print("even number:",i)

even number: 2
even number: 4
even number: 6
even number: 8
even number: 10

In [10]:
a="hariharan" # items are store in a 
for i in a:
    print(i)

h
a
r
i
h
a
r
a
n

In [11]:
a= "datascience" #items = d,a,t,a,s,c,i,e,n,c,e
for i in a:
  print(i)

d
a
t
a
s
c
i
e
n
c
e

In [17]:
i = 2
while i <= 3: # while condition # True 
  print(i)
  i += 1
"""loop1
i = item 1 = 1  ,1<=6 ? true

print(1)

i+=1 =1+1 =2  curent i value 2 = i=2

loop2
i = 2 , i<=6 ,2 <=6 ?true
print(2)

2 =2+1 =3 current i value is 3

loop3
i= 3 , i<=6 ,3<=6 ?true
print(3)

i= 3+1 =4 , current i value is 4
"""

2
3

'loop1\ni = item 1 = 1  ,1<=6 ? true\n\nprint(1)\n\ni+=1 =1+1 =2  curent i value 2 = i=2\n\nloop2\ni = 2 , i<=6 ,2 <=6 ?true\nprint(2)\n\n2 =2+1 =3 current i value is 3\n\nloop3\ni= 3 , i<=6 ,3<=6 ?true\nprint(3)\n\ni= 3+1 =4 , current i value is 4\n'

In [16]:
a =1
while a<0:
  print(a)
  a-=1
"""
loop 1

a=2
while condition : a>0 ? 2 >0 ? true . print(a) o/p:2   

decrement : a-=1 ,2-1 =1 , current a value is 1

loop2 

a=1
while condition :a>0 ,1>0 ?true . print(a) o/p :1

decrement : a-=1 ,a=a-1, 1-1 = 0 

loop3

a=0
while condition :a>0 , 0>0? false .break

"""

'\nloop 1\n\na=2\nwhile condition : a>0 ? 2 >0 ? true . print(a) o/p:2   \n\ndecrement : a-=1 ,2-1 =1 , current a value is 1\n\nloop2 \n\na=1\nwhile condition :a>0 ,1>0 ?true . print(a) o/p :1\n\ndecrement : a-=1 ,a=a-1, 1-1 = 0 \n\nloop3\n\na=0\nwhile condition :a>0 , 0>0? false .break\n\n'

In [18]:
count=0
while count<5:
        print("count:",count)
        count+=1

count: 0
count: 1
count: 2
count: 3
count: 4

In [1]:
for i in range(1,6):
  print("hello all")

#----

for i in range(6): #0,1,2,3,4,5  # 0 =hello ,1= hello ,2= hello ....
  print(i)

hello all
hello all
hello all
hello all
hello all
0
1
2
3
4
5

In [ ]:
#05/07/2024

In [2]:
#a= "datascience" #items = d,a,t,a

a= ["as","sa","df","fd"]
"""
0=d   0 =as
1=a   1 =sa
2=t   2 =df
3=s   3 =fd
3=a
4=s
5=c
6=i
7=e
8=n
9=c
10=e
"""
for i in a[0:2]:
  print(i)

as
sa

In [3]:
total = 0
while total <= 100:  
    num = int(input("Enter a number: ")) 
    total += num
print("Sum exceeded 100. Final total:", total)

Enter a number:  12
Enter a number:  34
Enter a number:  45
Enter a number:  75

Sum exceeded 100. Final total: 166

In [4]:
total=0
for i in range(1,15): #1,2,3,4,5,6,7,8,9,10,11,12,13,14.
  if i%2==0: #2,4,6,8,10,12,14
    total+=i 
print(("sum of even numbers in the range 1,15 :"),total)

sum of even numbers in the range 1,15 : 56

In [23]:
total = 0
for i in range(1,101): 
  if total<=101:
    print(total)
    total+=i
print("Sum of even numbers from 1 to 100:", total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
Sum of even numbers from 1 to 100: 105

In [24]:
total=0
for i in range(1,100+1): 
  if i%2==0:
    total+= i
print("Sum of even numbers from 1 to 100:", total)

Sum of even numbers from 1 to 100: 2550

In [25]:
total = 0
while total <= 100:  
    num = int(input("Enter a number: ")) 
    total += num   
print("Sum exceeded 100. Final total:", total)

Enter a number:  45
Enter a number:  45
Enter a number:  45

Sum exceeded 100. Final total: 135

In [26]:
num1= [1,2,3,4,5]
for i in num1: # 1,2,3,4,5
    print(i) #print(3)
    if i==3: #true , n=3 ,3==3 
        break

1
2
3

In [27]:
i=1
while True :
    print(i) #5
    i += 1 #6
    if i > 5: #6>5
     break

1
2
3
4
5

In [1]:
yes = 0
your_interest = int(input("How much you love her"))
print(your_interest)
if 1<=your_interest<=10:
    money=input("Are you rich")
    if money == yes:
        print("She is yours")
    else:
        print("she never be yours")
else:
    print("Rate from 1 to 10")

How much you love her 34

34
Rate from 1 to 10

In [2]:
count=0
str1 ="aeAsdfghju" #var1  string which i need to check 
vowels= "aeiouAEIOU" #var2 vowels
for i in str1: #for items in str1 : a, e,A,s,d,f,g,h,j
 if i in vowels: #if a in vowels =aeiouAEIOU
  count+=1 # count= count+1 ,0+1 count =1
print(count)

4

In [3]:
count=0
str1 ="aeAsdfghju" #var1  string which i need to check 
vowels= "aeiouAEIOU" #var2 vowels
for i in str1: #for items in str1 : a, e,A,s,d,f,g,h,j,u
 if i in vowels: #if a in vowels =aeiouAEIOU
  count+=1 # count= count+1 ,0+1 count =1
  print(i,count)
print("total count of vowels in str1", count)

a 1
e 2
A 3
u 4
total count of vowels in str1 4

In [5]:
num1= [1,2,3,4,5]  
for n in num1: # n= 1,2,3,4,5
        if n==4: #
         break
        print(n)

1
2
3

In [6]:
num1= [1,2,3,4,5]  
for n in num1: # n= 1,2,3,4,5
        if n==6: #
         break
        print(n)

1
2
3
4
5

In [7]:
num1= [1,2,3,4,5]  
for n in num1: # n= 1,2,3,4,5
        if n==3: # 3==3
         continue
        print(n)

1
2
4
5

In [10]:
num2= 0  # var =num2 : value =0
while num2<10: 
  # until  num2 is less than 10 the while loop will execute . 
#if num2 is greater than 10 then the condition will go false ,then the loop will be terminated
    num2+=1 
    if num2==9:
        continue
    print(num2)

"""
iteration 1 
num2 =0 . while 0<10 (T) : num2+=1 0+1 num2 =1. if num2==5 continus. 1=5 (f)
"""

1
2
3
4
5
6
7
8
10

'\niteration 1 \nnum2 =0 . while 0<10 (T) : num2+=1 0+1 num2 =1. if num2==5 continus. 1=5 (f)\n'

In [11]:
num2= 0  # var =num2 : value =0
while num2<10: 
  # until  num2 is less than 10 the while loop will execute . 
#if num2 is greater than 10 then the condition will go false ,then the loop will be terminated
    num2+=2 
    if num2==6:
        continue
    print(num2)

2
4
8
10

In [12]:
i=0
while True :
       i += 1 #0+1 =1 , 1+1 =2, 2+1 =3 , 4+1 =5 ,5+1 =6
       if i > 8: # i is greater than 5 then execute break . loop will be terminated
        break
       if i==5: #3==3 ,true
        continue
       print(i)

1
2
3
4
6
7
8

In [13]:
for num in range(5): # 
      print(num)
else: 
    print("Loop finished/terminated at 3")
i = 1
while i < 5: # 5<5 (F)
    print(i) 
    i += 1
else:
    print("Loop finished")

0
1
2
3
4
Loop finished/terminated at 3
1
2
3
4
Loop finished

In [4]:
name="hari"
while name=="hari":
    name+=0
    if name=="r":
        continue
    print(name)

TypeError: can only concatenate str (not "int") to str

In [5]:
num2=0
while num2<10:
    num2+=1
    if num2==5: #5==5 (T) 
        continue
    print(num2)

1
2
3
4
6
7
8
9
10

In [6]:
hari = 0
while hari < 10:
    hari += 1
    if hari == 5:
        continue
    print(f"Hari: {hari}")

Hari: 1
Hari: 2
Hari: 3
Hari: 4
Hari: 6
Hari: 7
Hari: 8
Hari: 9
Hari: 10

In [7]:
for num in range(5):    
      print(num)  
else:
    print("Loop finished")
for num in range(5):    
      print(num)  
      if num == 3:
        break
else:
    print("Loop finished")
for num in range(5):    
      print(num)  
      if num == 3:
        continue
else:
    print("Loop finished")

0
1
2
3
4
Loop finished
0
1
2
3
0
1
2
3
4
Loop finished

In [9]:
name="hariharan"
for i in name : #"h","a","r","i"
  if i=="r":
    continue
  print(i)

h
a
i
h
a
a
n

In [10]:
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("Loop finished")

1
2
3
4
Loop finished

In [11]:
my_string = "Hello, World!"
print(my_string)
print(type(my_string))

str2 ="10.23"
print(str2)
print(type(str2))

str3 ="10"
print(str3)
print(type(str3))

Hello, World!
<class 'str'>
10.23
<class 'str'>
10
<class 'str'>

In [12]:
str1="hi"
print(str1*5)

hihihihihi

In [13]:
pattern = "----ooooo----"
print(pattern*4)

----ooooo--------ooooo--------ooooo--------ooooo----

In [20]:
str1 ="datascience"
print("string:",str1)
#print only data
print("substring:",str1[4:11])
"""
index   value
0        d
1        a
2        t
3        a
4        s
5        c
6        i
7        e
8        n
9        c
10       e
"""

string: datascience
substring: science

'\nindex   value\n0        d\n1        a\n2        t\n3        a\n4        s\n5        c\n6        i\n7        e\n8        n\n9        c\n10       e\n'

In [7]:
str1 ="datascience"
print("string:",str1)
#print only data
print("substring:",str1[:11])
print("reverse:",str1[::-1])

string: datascience
substring: datascience
reverse: ecneicsatad

In [10]:
#10/07/2024 class 
str2="computerscience"
print(str2)
print(str2[0:]) #o/p :computerscience 
print(str2[:15]) #o/p :computerscience
print(str2[0:8]) #o/p :computer 
print(str2[0:15:2]) #[start:end:skip] o/p:cmuesine
print(str2[0:15:3]) #cpecn

computerscience
computerscience
computerscience
computer
cmuesine
cpecn

In [11]:
str1 ="welcome to classroom"
str2 =str1[::-1] #reverse
print(str1)
print(str2)
if str1 == str2:
  print("palindrome")
else:
  print("not a palindrome")

welcome to classroom
moorssalc ot emoclew
not a palindrome

In [12]:
str1 ="oogoo"
str2 =str1[::-1] #reverse
print(str1)
print(str2)
if str1 == str2:
  print("palindrome")
else:
  print("not a palindrome")

oogoo
oogoo
palindrome

In [13]:
str2 ="computerscience"
print(str2)
print(str2[0:]) #o/p :computerscience 
print(str2[:15]) #o/p :computerscience
print(str2[0:8]) #o/p :computer
print(str2[8:15]) #o/p :science
print(str2[0:15:2]) # [start:end:skip] o/p:cmuesine
print(str2[0:15:3]) #cpecn
print(str2[10:0:-3]) # icsretupmoc o/p :iruo
print(str2[10:0:-2])  #iseum

computerscience
computerscience
computerscience
computer
science
cmuesine
cpecn
iruo
iseum

In [16]:
var1= "GoOgle_Meet"
var2="hello_world"
print("lower case:",var1.lower())
print("upper case:",var1.upper())
print("split:",var1.split("M"))
print("split:",var1.split("_"))
print("title:",var2.title())
print("capital:",var2.capitalize())

lower case: google_meet
upper case: GOOGLE_MEET
split: ['GoOgle_', 'eet']
split: ['GoOgle', 'Meet']
title: Hello_World
capital: Hello_world

In [17]:
str1 = "Hello hi hi this is abc hi Hello hi!"
str2 = "hi"
str3 = "1234"

print(str1.find(str2)) #o/p 6
print(str1.index(str2)) #o/p 6
print(str1.find(str3)) #o/p :-1
print(str1.index(str3))  # error : substring not found

6
6
-1

ValueError: substring not found

NameError: name 'str1' is not defined

In [2]:
str1 = "Hello hi hi this is abc hi Hello hi!"
str2 = "hi"
str3 = "1234"
print(str1.rfind(str2)) #last occurance
print(str1.rindex(str2))
print(str1.rfind(str3))
print(str1.rindex(str2))

33
33
-1
33

In [3]:
list2 = ['12','12','2022']
print("/".join(list2))
str1= ["10","July","2024"]
print("-".join(str1))

12/12/2022
10-July-2024

In [4]:
str5 = "abdjABCDEFgsdfhs12"
print(str5.isalpha())
print(str5.isalnum())

False
True

In [5]:
str1 = "1234556"
print(str1.isnumeric())  #0-9 ,fractional , superscrips , 
print(str1.isdigit()) #no fractional ,0- 9, superscripts
print(str1.isdecimal()) #no fraction , no supersript , only 0-9
print("\n")

True
True
True

In [9]:
float = "1234556"
print(float.isnumeric())  
print(float.isdigit()) 
print(float.isdecimal()) 
print("\n")

True
True
True

In [10]:
str2 = "123"
print(str2.isnumeric()) #accept fractions
print(str2.isdigit()) #fractions not accepted
print(str2.isdecimal()) #fractions not accepted

True
False
False

In [11]:
str4 = "-12345"
print(str4.isnumeric())
print(str4.isdigit())
print(str4.isdecimal())
print("\n")
str5 = "123"
print(str5.isnumeric())
print(str5.isdigit())
print(str5.isdecimal())

False
False
False


True
True
False

In [12]:
str3 = "23.45"
print(str3.isnumeric())
print(str3.isdigit())
print(str3.isdecimal())
print("\n")

False
False
False